/* Reset some default styles */
html {
  font-size: 100%;
}

* {
    margin: 0px;
    padding: 1px;
    box-sizing: border-box;
}

/* General Body Styles */
/* Base mobile layout rules */
body {
  font-size: 1rem;
}

/* Tablet screen optimization */
@media (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }
}

/* Desktop layout scaling */
@media (min-width: 1200px) {
  body {
    font-size: 2rem ;
    page-orientation: horizontal;
  }
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000054;
    background: linear-gradient(to top, #000020 10%, darkblue 90%);
    background-attachment: fixed;
    color: white;
    line-height: 1.4;
    padding: 20px;
}
fieldset p, h3, h2 {
    margin-left: 10px;}
}
legend {
    font-size: 1.1rem;
    margin-left: 10px;
    font-weight: bold;
}
/* Header Styles */
header {
    background-color: blue;
    background: linear-gradient(to bottom, blue, darkblue);
    color: white;
    padding: 2px;
    text-align: center;
    
}
.dbg {
    font-size: +2.1rem;
    background-color: black;
    background: linear-gradient(to left, black, #000040);
    
}
.bt {
    font-size: 2.1rem;
    font-weight:bold;
    
}

#hello-guys {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 7px;
}
.hl {
    font-weight: bold;
    font-size: 1.1rem
}
nav {
    text-align: center;
    
}
a {color: deepskyblue;
font-weight: bold;
}

/* Main Content Styles */
main {
    text-align: left;
    margin-top: 2px;
}

.class {
    color:#DBDCFF;
    fonr-weight: bold
}
.mjr {
    color:#FFF1FF;
    font-weight: italic bold;
}
}
details p {
    margin-left:7px;
    background-color:black 70%;}
    
p {place-content: "hi", start;}

details ol {
    margin-left: 21px;}

/* Button Styling */
button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Footer Styles */
#footer {margin-top: 77px;}

footer {
    text-align: center;
    margin-top: 7px;
    font-size: 0.777rem;
    position-anchor: fixed;
}

